
SQL_projects/sql_population_queries_part_ii/sql-population-queries-part-ii-solution/population_queries_final.sql
visualization_cumulative_projects/.DS_Store
visualization_cumulative_projects/part_1_SQL/Twitch_Project.db
SQL_projects/sql_population_queries_part_ii/sql-population-queries-part-ii-solution/db.sqlite
SQL_projects/sql_population_queries_part_ii/sql-population-queries-part-ii-solution/.DS_Store
SQL_projects/sql_population_queries_part_i/sql-population-queries-solution/population_queries_final.sql
SQL_projects/sql_population_queries_part_i/sql-population-queries-solution/db.sqlite
SQL_projects/sql_population_queries_part_i/.DS_Store
SQL_projects/.DS_Store
twitch_visualization_project/.DS_Store
twitch_visualization_project/part_1_SQL/Twitch_Project.db
twitch_visualization_project/part_2_visualization/DS_Store
.DS_Store
kiva_seaborn_visualization_project/.ipynb_checkpoints/kiva_project-checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/kiva_project_ghv-checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/kiva_project_ghv-solution-checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/kiva_project_solution -checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/kiva_project_solution-checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/Seaborn Cumulative Project Solution -checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/Seaborn Cumulative Project-checkpoint.ipynb
kiva_seaborn_visualization_project/.ipynb_checkpoints/Seaborn Project dsb Worksheet-checkpoint.ipynb
kiva_seaborn_visualization_project/kiva_project_solution.ipynb
orion-constellation_3d_visualization/.ipynb_checkpoints/constellation-checkpoint.ipynb
orion-constellation_3d_visualization/.ipynb_checkpoints/constellation-solution-checkpoint.ipynb
orion-constellation_3d_visualization/.ipynb_checkpoints/constellation-solution2-checkpoint.ipynb
orion-constellation_3d_visualization/.ipynb_checkpoints/constellationsolution-checkpoint.ipynb
netflix_stocks_project/Data Visualization Capstone Projects _ Codecademy.pdf
netflix_stocks_project/.ipynb_checkpoints/netflix_visualizations_solution-checkpoint.ipynb
netflix_stocks_project/.ipynb_checkpoints/netflix_visualizations-checkpoint.ipynb
reggies_linear_regression_project/Reggie_Linear_Regression_Solution.ipynb
reggies_linear_regression_project/.ipynb_checkpoints/Reggie_Linear_Regression_Solution-checkpoint.ipynb
reggies_linear_regression_project/.ipynb_checkpoints/Reggie_Linear_Regression_Skeleton-checkpoint.ipynb
biodiversity_capstone/.ipynb_checkpoints/biodiversity-checkpoint.ipynb
biodiversity_capstone/.ipynb_checkpoints/biodiversity-solutions-checkpoint.ipynb
biodiversity_capstone/biodiversity-solutions.ipynb
musclehub_project/.ipynb_checkpoints/musclehub-checkpoint.ipynb
musclehub_project/.ipynb_checkpoints/musclehub-solutions-checkpoint.ipynb
musclehub_project/__pycache__/codecademySQL.cpython-37.pyc
musclehub_project/musclehub-solutions.ipynb
